@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This dotnet project is intended to be used as an API and serve a react app for the client. Though, the views have been kept to serve static pages if needed.</p>
</div>
