@model Api.Models.ErrorViewModel
<h1>Something went wrong</h1>
<p>We encountered an unexpected error.</p>
@if (Model.ShowRequestId)
{
    <p>Request ID: <code>@Model.RequestId</code></p>
}
<a href="/">Go back home</a>
