<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/caf801d8-6853-489c-b7ec-d32779f02ab0/resourceGroups/dotnetReact-rg/providers/Microsoft.Web/sites/starterApp</ResourceId>
    <ResourceGroup>dotnetReact-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://starterapp-dwfpeqddaugkh6ej.westcentralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cbfa08ea-aece-205f-7b85-326fd0b81bad</ProjectGuid>
    <PublishUrl>https://starterapp-dwfpeqddaugkh6ej.scm.westcentralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$starterApp</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>